<html en="en">
    <head>
        <base href="/" />
        <meta charset="UTF-8" />
        <title>pushdeploy.io - deploy unlimited nodejs apps across your VPS for just 1$</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
        <meta name="robots" content="index,follow" />
        <meta name="author" content="pushdeploy" />
        <meta name="description" content="Deploy unlimited Node.js apps on your servers for less the money and less the time. Set up automated deployment in a click. Free SSL in a breeze and more!" />
        <meta property="og:description" content="Share your code and collaborate with developers around the world." />
        <meta property="og:image" content="https://pushdeploy.io/images/pushdeploy-1.png" />
        <meta property="og:locale" content="en" />
        <meta property="og:site_name" content="pushdeploy" />
        <meta property="og:title" content="pushdeploy" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://pushdeploy.io" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="pushdeploy" />
        <meta name="twitter:url" content="https://pushdeploy.io" />
        <meta name="twitter:site" content="https://pushdeploy.io" />
        <meta name="twitter:creator" content="" />
        <meta name="twitter:title" content="Chalkboard" />
        <meta name="twitter:description" content="Deploy unlimited Node.js apps on your servers for less the money and less the time. Set up automated deployment in a click. Free SSL in a breeze and more!" />
        <meta name="twitter:image:src" content="https://pushdeploy.io/images/pushdeploy-1.png" />
        <link rel="shortcut icon" href="https://pushdeploy.io/favicon.ico" />
        <link rel="apple-touch-icon" href="https://pushdeploy.io/favicon.ico" />
        <!-- Google Fonts -->
        <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"> -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab" />

        <!-- CSS Reset -->
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css" />

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css" />

        <!-- You should properly set the path from the main file. -->
        <!--STYLES-->

        <!--STYLES END-->
    </head>

    <body>
        <div class="row" style="width: auto;">
            <div class="column column-50 column-offset-25">
                <center><img src="/images/pushdeploy.png" height="100" alt="pushdeploy.io" /></center>
                <br />
                <br />
                <div class="white panel">
                    <h1>It Works ;-)</h1>
                    <br />
                    <br />
                    <img src="/images/apppipeline.png" />
                </div>
            </div>
        </div>
    </body>
</html>